{% extends "base.html" %}

{% block content %}

<div>
    <div class="row">
        <div class="col text-center">    
            <h3>Your building</h3>
        </div>
    </div>
    <div class="row">
        <div class="col px-5">
            <h5>Show scoring</h5>
            <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" name="scoring" id="heatmap" value="heatmap">
                <label class="custom-control-label" for="heatmap">
                    Yes
                </label>
            </div>
            <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" name="scoring" id="map" value="map" checked>
                <label class="custom-control-label" for="map">
                    No
                </label>
            </div>
            <h5>Size of fire</h5>
            <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" name="fire" id="smallFire" value="small" checked>
                <label class="custom-control-label" for="smallFire">
                  Small fire
                </label>
            </div>
                <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" name="fire" id="bigFire" value="big">
                <label class="custom-control-label" for="bigFire">
                    Big fire
                </label>
            </div>
            <h5>Focus of scoring</h5>
            <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" name="focus" id="default" value="default" disabled checked>
                <label class="custom-control-label" for="default">
                    General
                </label>
            </div>
            <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" name="focus" id="residential" value="residential" disabled>
                <label class="custom-control-label" for="residential">
                    Residential
                </label>
            </div>
            <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" name="focus" id="roads" value="roads" disabled>
                <label class="custom-control-label" for="roads">
                    Roads
                </label>
            </div>
            <br>
            <a type="button" class="btn btn-primary" href=# onclick="change_fire_size()">Apply</a>
        </div>
        <div class="col">
            {{ js_resources|indent(4)|safe }}
            {{ css_resources|indent(4)|safe }}
            {{ plot_script|indent(4)|safe }}
            {{ plot_div|indent(4)|safe }}
        </div>  
        <div class="col-2 small">
            <p><b class="h6">Address(es)</b> <br /> {{adress|safe}}
            </p>
            <p><b class="h6">Present in the building: </b> <br />
                {% for key, value in building_info.items() %}
                {{value}} {{key}} <br/>
                {% endfor %}
            </p>
            <p><b class="h6">Risk score:</b>
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Score is based on weighted score of factors, click for more explanation.">
                    <a href="/FAQ"><button class="btn btn-dark btn-sm" style="pointer-events: none;" type="button" disabled>?</button></a>
                </span>
            <br>
                Default focus: {{ risk_score_default }} <br>
                Residential focus: {{ risk_score_residential }}<br>
                Road focus: {{ risk_score_road }}
            </p>
        </div>
        <div class="col-2 small">
            <p><b class="h6">{{amount_adjacent}} adjacent buildings with functions:</b><br>
                {% for key, value in neighbor_info.items() %}
                {{value}} {{key}} <br/>
                {% endfor %}
            </p>
            <p><b class="h6">{{amount_radius}} buildings in radius excl selected building with functions:</b><br>
                {% for key, value in radius_info.items() %}
                {{value}} {{key}} <br/>
                {% endfor %}
            </p>
            <p><b class="h6">Blocked public transport:</b><br>
                {% for key, value in stations.items() %}
                {{key}} <br/>
                {{value}} <br/>
                {% endfor %}
            </p>
            <p><b class="h6">Blocked roads:</b><br>
                {% for road, type in roads.items() %}
                {{road}}: {{type}} <br/>
                {% endfor %}
            </p>
            <p><b class="h6">Addresses of buildings in radius excl selected building:</b> <br>
                {{radius_adress|safe}}
            </p>
        </div>
    </div>
</div>

{% endblock %}