{% extends "base.html" %}

{% block content %}

<div>
    <div class="row">
        <div class="col text-center">    
            <h3>Your building</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            {{ js_resources|indent(4)|safe }}
            {{ css_resources|indent(4)|safe }}
            {{ plot_script|indent(4)|safe }}
            {{ plot_div|indent(4)|safe }}
        </div>  
        <div class="col-2 small">
            <!-- <a type="button" class="btn btn-primary btn-block {{small_active}}" href={{link_small}}>Small Fire</a> -->
            <!-- <br> -->
            <p><b class="h6">Address(es)</b> <br /> {{adress|safe}}
            </p>
            <p><b class="h6">Present in the building: </b> <br />
                {% for key, value in building_info.items() %}
                {{value}} {{key}} <br/>
                {% endfor %}
            </p>
            <p><b class="h6">Risk score:</b>
            <br>
                {{ risk_score }} 
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Score is based on weighted score of factors, for more information see FAQ.">
                    <button class="btn btn-dark btn-sm" style="pointer-events: none;" type="button" disabled>?</button>
                </span>
            </p>
        </div>
        <div class="col-2 small">
            <p><b class="h6">Adjacent buildings:</b><br>
                {% for key, value in neighbor_info.items() %}
                {{value}} {{key}} <br/>
                {% endfor %}
            </p>
            <p><b class="h6">Buildings in radius excl selected building:</b><br>
                {% for key, value in radius_info.items() %}
                {{value}} {{key}} <br/>
                {% endfor %}
            </p>
            <p><b class="h6">Public transport:</b><br>
                {% for key, value in stations.items() %}
                {{key}} <br/>
                {{value}} <br/>
                {% endfor %}
            </p>
        </div>
        <div class="col"></div>
    </div>
    <div class = "row" style = 'padding-top: 10px'>
        <div class = "col-1"></div>
        <div class="col">
            <a type="button" class="btn btn-primary btn-block {{small_active}}" href={{link_small}}>Small Fire</a>
        </div>
        <div class="col">
            <a type="button" class="btn btn-primary btn-block {{big_active}}" href={{link_big}}>Big Fire</a>
        </div>
        <div class="col-5"></div>
    </div>
</div>

{% endblock %}