{% extends "base.html" %}

{% block content %}

<div>
    <div class="row">
        <div class="col text-center">    
            <h3>Your building</h3>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col border"></div> -->
        <div class="col border px-5">
            <h5>Size of fire</h5>
            <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" name="fire" id="smallFire" value="small" checked>
                <label class="custom-control-label" for="smallFire">
                  Small fire
                </label>
            </div>
                <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" name="fire" id="bigFire" value="big">
                <label class="custom-control-label" for="bigFire">
                    Big fire
                </label>
            </div>
            <br>
            <a type="button" class="btn btn-primary" href=# onclick="change_fire_size()">Apply</a>
        </div>
        <div class="col border">
            <!-- <div class="row"> -->
            {{ js_resources|indent(4)|safe }}
            {{ css_resources|indent(4)|safe }}
            {{ plot_script|indent(4)|safe }}
            {{ plot_div|indent(4)|safe }}
            <!-- </div>
            <div class="row">
                <div class="col">
                    <a type="button" class="btn btn-primary btn-block {{small_active}}" href={{link_small}}>Small Fire</a>
                </div>
                <div class="col">
                    <a type="button" class="btn btn-primary btn-block {{big_active}}" href={{link_big}}>Big Fire</a>
                </div>
            </div> -->
        </div>  
        <div class="col-2 small border">
            <p><b class="h6">Address(es)</b> <br /> {{adress|safe}}
            </p>
            <p><b class="h6">Present in the building: </b> <br />
                {% for key, value in building_info.items() %}
                {{value}} {{key}} <br/>
                {% endfor %}
            </p>
            <p><b class="h6">Risk score:</b>
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Score is based on weighted score of factors, for more information see FAQ.">
                    <button class="btn btn-dark btn-sm" style="pointer-events: none;" type="button" disabled>?</button>
                </span>
            <br>
                Default focus: {{ risk_score_default }} <br>
                Residential focus: {{ risk_score_residential }}<br>
                Road focus: {{ risk_score_road }}
            </p>
        </div>
        <div class="col-2 small border">
            <p><b class="h6">{{amount_adjacent}} adjacent buildings with functions:</b><br>
                {% for key, value in neighbor_info.items() %}
                {{value}} {{key}} <br/>
                {% endfor %}
            </p>
            <p><b class="h6">{{amount_radius}} buildings in radius excl selected building with functions:</b><br>
                {% for key, value in radius_info.items() %}
                {{value}} {{key}} <br/>
                {% endfor %}
            </p>
            <p><b class="h6">Public transport:</b><br>
                {% for key, value in stations.items() %}
                {{key}} <br/>
                {{value}} <br/>
                {% endfor %}
            </p>
            <p><b class="h6">Addresses of buildings in radius excl selected building:</b> <br>
                {{radius_adress|safe}}
            </p>
        </div>
    </div>
</div>

{% endblock %}