{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <div class="row"> 
            <div class = "col">
            <h3>FAQ</h3>
            <h4>Calculating the scores</h4>
            <p>
                When a building is on fire, there can be multiple infrastructural entities in jeopardy, like buildings, roads and 
                public transport. To give a building a score for how much danger they present for their surrounding infrastucture, 
                different aspects have been quantified. Every different type of building, type of road and type of public transport.
                The scores that the different type of entities hold is given in the tables.             
                So to calculate the score, the amount of times a certain entity occurs is multiplied with the corresponding weight. This
                is done for all entities in the radius and summed up to the visible score in the prototype.
            </p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p>
                    <h5>Buildings</h5>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                            <th scope="col">Function</th>
                            <th scope="col">Weight</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>Health care</td>
                            <td>3</td>
                            </tr>
                            <tr>
                            <td>Cell</td>
                            <td>3</td>
                            </tr>
                            <tr>
                            <td>Accomodation</td>
                            <td>2</td>
                            </tr>
                            <tr>
                                <td>Industry</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Educational</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Shopping</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Sports</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Office</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Meet</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Residential</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Other usage</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
            <div class="col-3">
                <p>
                    <h5>Roads</h5>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Weight</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>Plusnet</td>
                            <td>3</td>
                            </tr>
                            <tr>
                            <td>Hoofdnet</td>
                            <td>3</td>
                            </tr>
                            <tr>
                            <td>Calamiteitenroute</td>
                            <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
            <div class="col-3">
                <p>
                    <h5>Public transport</h5>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Weight</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>Tram</td>
                            <td>3</td>
                            </tr>
                            <tr>
                            <td>Metro</td>
                            <td>4</td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

{% endblock %}