
{% extends "base.html" %}

{% block content %}

<div class="container-md">
    <div class="row">
        <div class="col text-center">    
            <h3>Scores of building on infrastructural effect of fires in Amsterdam</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <a type="button" class="btn btn-primary btn-block {{default_active}}" href={{link_default}}>Default focus</a>
            <a type="button" class="btn btn-primary btn-block {{residential_active}}" href={{link_residential}}>Focus on residential</a>
            <a type="button" class="btn btn-primary btn-block {{something_active}}" href={{link_something}}>Focus on road</a>
        </div>
        <div class="col-8">
            {{ js_resources|indent(4)|safe }}
            {{ css_resources|indent(4)|safe }}
            {{ plot_script|indent(4)|safe }}
            {{ plot_div|indent(4)|safe }}
        </div>
        <div class="col-2"><p></p></div>
    </div>
    <div class = "row" style = 'padding-top: 10px'>
        <div class = "col"></div>
        <div class="col">
            <a type="button" class="btn btn-primary btn-block {{small_active}}" href={{link_small}}>Small Fire</a>
        </div>
        <div class="col">
            <a type="button" class="btn btn-primary btn-block {{big_active}}" href={{link_big}}>Big Fire</a>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}